---
---

/*CSS for comic site*/

body {
  font-family: "Droid Sans", sans-serif;
  font-size: 15px;
  color: #eeeeee;
  padding-top: 20px;
  background-image: url({{ site.url }}/images/bg-gridreverse.png);
  background-color: black;
}

.panel {
  background-color: black;
  min-height: 500px;
}

.panel p {
  padding: 0px 25px 0px 25px;
  font-family: "Roboto", sans-serif;
}

.panel h1 {
  font-size: 30px;
  font-weight: regular;
  font-family: "Arvo", serif;
  padding: 0px 25px 0px 25px;
}

.panel h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Arvo", serif;
  padding: 0px 25px 0px 25px;
}

.panel h3 {
  font-size: 14px;
  font-weight: bold;
  font-family: "Arvo", serif;
  padding: 0px 25px 0px 25px;
}

.panel img {
  height: 100%;
  width: 100%;
}

.center {
  margin: auto;
  float: none;
}

/* HEADER STYLES */
/*=============================*/

.jumbotron {
  background-image: url({{ site.url }}/images/headerthin.png);
  font-family: "Fredoka One", cursive;
}

.container .jumbotron {
  padding: 30px 0px 30px 0px;
  text-align: center; /*left, right, or center*/
}

.jumbotron img {
  height: 100%;
  width: 100%;
}

.jumbotron h1 {
  font-family: "Fredoka One", cursive;
}

.jumbotron p {
  font-family: "Roboto", sans-serif;
}

.jumbotron a {
  color: #ff0042;
}

.jumbotron a:visited {
  color: #eeeeee;
}

/* ARCHIVE STYLES */
/*=============================*/

.archive-li {
  /* float: left; */
  display: block;
}

.archive-ul {
  margin: 0px;
  list-style: none;
}

/* MOBILE NAVBAR STYLES */
/*=============================*/
/* CHange menu button */

nav {
  display: flex !important;
  flex-direction: column !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
}

nav label {
 width: 100% !important;
 display: block !important;
}

nav .iconify {
  color: hsl(0, 45%, 60%) !important;
}

/* hide the nav menu */
nav ul {
  display: none !important;
  padding: 0 !important;
  width: 100% !important;
}

/* color every other nav row */
nav li:nth-of-type(odd) {
  background-color: var(--white) !important;
}

/* remove the nav menu checkbox (label still works and is displayed */
#navMenuCheck {
  display: none !important;
}

/* show the nav menu when the checkbox is checked */
#navMenuCheck:checked + #navMenu {
  display: flex !important;
  flex-direction: column !important;
}

/* Style the nav menu button row */
#navMenuButton {
  width: 100% !important;
  background-color: var(--dark) !important;
  height: auto !important;
}

/* Make each link block for easy clicking */
nav a {
  display: block !important;
  color: var(--secondaryColor) !important;
  font-weight: 900 !important;
  text-decoration: none !important;
  padding: 1em !important;
  text-align: center !important;
}

nav a:hover {
  text-decoration: underline !important;
  text-decoration-thickness: 4px !important;
}

/* Border on bottom of nav so it can stand out */
nav {
  border-bottom: 4px var(--mainColor) solid !important;
}

nav ul.navbar-nav {
  margin: 0 !important;
}

nav label {
  padding-left: 80% !important;
}

/* modifying nav list for mobile */
nav li {
  list-style: none !important;
  padding: 0 !important;
  font-size: 1.5rem !important;
  /* font-family: var(--mainFont) !important; */
  background-color: var(--dark) !important;
}

nav li {
  width: fit-content !important;
}

/* COMIC PANEL STYLES */
/*=============================*/
.comic-panel {
  max-width: 700px;
  margin-left: auto;
}

@media (min-width: 750px) {
  #navMenuButton {
    display: none !important;
  }

  nav {
    border-bottom: 0 !important;
    margin: 3% 0 !important;
    position: relative !important;
  }

  nav ul {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    padding: 0 !important;
  }

  nav li:last-of-type {
    border-bottom: none !important;
  }

  nav li,
  header nav li:nth-of-type(odd) {
    background-color: unset !important;
  }

  nav a {
    padding: 10px 20px !important;
    border-radius: 8px !important;
    /* background-color: var(--white) !important; */
    /* box-shadow: 3px 3px var(--mainColor) !important; */
    border-radius: 8px !important;
    margin-top: 1rem !important;
    transition: all 50ms ease-in-out !important;
  }

  nav a:hover,
  nav a:active {
    box-shadow: 3px 3px var(--secondaryColor) !important;
    border: 3px var(--secondaryColor) solid !important;
    color: var(--secondaryColor) !important;
    text-decoration: none !important;
  }

  nav li {
    margin: 0 0.5rem !important;
  }

  nav a {
    width: 8rem !important;
  }
}
