---
---

/*CSS for comic site*/

body {
  font-family: "Droid Sans", sans-serif;
  font-size: 15px;
  color: #eeeeee;
  padding-top: 20px;
  background-image: url({{ site.url }}/images/bg-gridreverse.png);
  background-color: black;
}

.panel {
  background-color: black;
  min-height: 500px;
}

.panel p {
  padding: 0px 25px 0px 25px;
  font-family: "Roboto", sans-serif;
}

.panel h1 {
  font-size: 30px;
  font-weight: regular;
  font-family: "Arvo", serif;
  padding: 0px 25px 0px 25px;
}

.panel h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Arvo", serif;
  padding: 0px 25px 0px 25px;
}

.panel h3 {
  font-size: 14px;
  font-weight: bold;
  font-family: "Arvo", serif;
  padding: 0px 25px 0px 25px;
}

.panel img {
  height: 100%;
  width: 100%;
}

.center {
  margin: auto;
  float: none;
}

/* HEADER STYLES */
/*=============================*/

.jumbotron {
  background-image: url({{ site.url }}/images/headerthin.png);
  font-family: "Fredoka One", cursive;
}

.container .jumbotron {
  padding: 30px 0px 30px 0px;
  text-align: center; /*left, right, or center*/
}

.jumbotron img {
  height: 100%;
  width: 100%;
}

.jumbotron h1 {
  font-family: "Fredoka One", cursive;
}

.jumbotron p {
  font-family: "Roboto", sans-serif;
}

.jumbotron a {
  color: #ff0042;
}

.jumbotron a:visited {
  color: #eeeeee;
}

/* ARCHIVE STYLES */
/*=============================*/

.archive-li {
  /* float: left; */
  display: block;
}

.archive-ul {
  margin: 0px;
  list-style: none;
}

/* MOBILE NAVBAR STYLES */
/*=============================*/
/* CHange menu button */

#mobile-footer-nav,
#mobile-top-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
}

/* hide the nav menu */
#desktop-nav {
  display: none;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 4px;
}

/* Border on bottom of nav so it can stand out */

nav ul.navbar-nav {
  margin: 0;
}

nav label {
  padding-left: 80%;
}

nav {
  border-bottom: 0;
  margin: 3% 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  width: 100%;
}

nav a {
  padding: 10px 20px;
  border-radius: 8px;
  border-radius: 8px;
  margin-top: 1rem;
  transition: all 50ms ease-in-out;
}

nav li {
  margin: 0 0.5rem;
  width: fit-content;
}

nav a {
  width: 8rem;
}

/* COMIC PANEL STYLES */
/*=============================*/
.comic-panel {
  max-width: 700px;
  margin-left: auto;
}

@media (min-width: 750px) {
  #mobile-footer-nav,
  #mobile-top-nav {
    display: none;
  }

  #desktop-nav {
    display: flex;
    flex-direction: column;
  }
}
