<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <label for="navMenuCheck" id="navMenuButton">
        <i class="iconify" data-icon="charm:menu-hamburger" data-inline="false"  data-width="4em"></i>
    </label>
    <input type="checkbox" id="navMenuCheck">
    <ul class="nav navbar-nav">
        <li><a href={{ site.url }}/001 >FIRST PAGE</a></li>
        <li><a href={{ site.url }}/about>ABOUT</a></li>
        <li><a href="https://twitter.com/bambeptin" target="_blank">ARTIST</a></li>
        <li><a href={{ site.url }}/archive>ARCHIVE</a></li>
    </ul>
</nav>
